<div class='text-center title-div'>

  <h1><%= link_to 'Baseball Card Collector', players_path, :class => 'title' %></h1>
  <h3>Create, Tag, and Collect all the players you want!</h3>
  <!-- <img class='image-collage' src="http://4.bp.blogspot.com/-5ryhAW4Ct0Y/Ux-qzvPZhmI/AAAAAAAAIy0/SoYLPesJHUc/s1600/P1140832.JPG"> -->
</div>