<h1>Available Tags</h1>
<div class='row'>
  <table class='col-md-4 col-md-offset-4'>
    <% @tags.each do |tag| %>
    <tr>
      <td class='td-width'>
        <%= link_to tag.name, tag_path(tag.id) %>
      </td>
      <td class='td-width'>
        <%= link_to '', tag_path(tag.id), :class =>'btn btn-danger glyphicon glyphicon-trash danger pull-right',
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div class='row text-center'>
  <%= link_to 'Add Tag', new_tag_path, :class => 'btn btn-primary' %>
</div>
