<div class='row'>
  <h1>Ballplayers</h1>
</div>
<div class='row'>
  <div class='col-md-6 col-md-offset-3 ballplayers'>
    <table>

     <tbody>
        <% @player.each do |p| %>
          <tr>
            <td class='players-index'><%= link_to p.name, p %></td>
            <td><%= p.team %></td>
            <td class='pull-right'><%= p.position %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='row text-center ballplayer-btn'>
  <a href='/players/new' class='btn btn-primary' style='margin: auto'>Add Player</a>
</div>
